.profile {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: right;
  
  }
.profile .auth-btn {
    color: #0C1844;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
  
  }
  
  
  .menu-link {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #444;
    transition: 0.5s linear;
    padding: 0px 10px 0px 0px;
    margin: 0;
  }
  
  .menu-link:hover {
    color: #2874F0;
    background-color: #e6e6e6;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    padding: 6px 10px;
    font-size: 16px;
    font-weight: 500;
  }
  
  .menu-icon {
    margin-right: 5px;
    font-size: 18px;
  }
  
  .hr-line {
    border-top: 1px solid #ccc;
    margin: 10px 0;
  }
  
  .profile .open-btn {
    outline: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    line-height: 20px;
    padding: 5px 10px;
    text-align: right;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .profile .open-btn img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top center;
    background-color: #2874F0;
    padding: 1px;
  }
  
  .profile .open-btn p {
    color: #2874F0;
    font-size: 16px;
  }
  
   .open-btn .name {
    color: #0C1844;
    font-size: 17px;
    font-weight: 500;
  }
  